:root {
  // colors
  --color-primary: #22254b;
  --color-secondary: #373b69;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #e9e900;
  --color-lightyellow: #ff0;

  // fonts
  --font-primary: "Poppins", sans-serif;
}
